* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; /* Giúp khi bấm menu, trang web cuộn từ từ xuống */
}
body {
    font-family: var(--font-main);
    color: var(--color-text);
    background-color: var(--color-light);
    line-height: 1.6;
}